* {
    background-color: lightgrey;
}

body {
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-rows: 100px 100px;
}

.grid-item1 {
    grid-row: 1/2;
    grid-column: 1/12;
    border: 2px solid;
}

.grid-item2 {
    grid-row: 2/2;
    grid-column: 1/5;
    border: 2px solid;
}

.grid-item3 {
    grid-row: 2/2;
    grid-column: 5/8;
    border: 2px solid;
}

.grid-item4 {
    grid-row: 2/3;
    grid-column: 8/12;
    border: 2px solid;
}

.grid-item5 {
    grid-row: 3/6;
    grid-column: 1/4;
    border: 2px solid;
}

.grid-item6 {
    grid-row: 6/8;
    grid-column: 1/4;
    border: 2px solid;
}

.grid-item7 {
    grid-row: 3/8;
    grid-column: 4/12;
    border: 2px solid;
}

.grid-item8 {
    grid-row: 8/12;
    grid-column: 1/6;
    border: 2px solid;
}

.grid-item9 {
    grid-row: 8/12;
    grid-column: 6/12;
    border: 2px solid;
}